/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
OUTPUT/
esx_files/
example_AP_images_captioned/
example_AP_images/
archive/
*.esx
*.docx
app_state.json
ideas.md
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dictionaries/nick.xml
